/* Set the display property of the body element to flex, which enables flexible box layout. */
body {
    display: flex;                /* Set the display property of the body element to flex, which enables flexible box layout. */     
    flex-direction: column;         /* Set the direction in which the flex items are displayed to be column-wise. */
    justify-content: center;        /* Center the flex items vertically along the main axis. */
    align-items: center;           /* Center the flex items horizontally along the cross axis. */
    text-align: center;             /* Center the text within the flex items. */
}

/* Defines a new CSS rule for a div element */
div {
    height: 100px;                /* Set the height of the div element to 100px. */
    width: 200px;                 /* Set the width of the div element to 200px. */
    background: red;              /* Set the background color of the div element to red. */
    border: 3px solid black;        /* Set the border of the div element to 3px solid black. */
    border-radius: 5%;              /* Set the border-radius of the div element to 5%. */
    margin: 10px;                  /* Set the margin of the div element to 10px. */
}