/* This class represents the navigation bar and is fixed to the top left of the page */
.navbar {
  position: fixed;
  /* Set the navbar to fixed position */
  top: 0;
  /* Set the navbar to the top */
  left: 0;
  /* Set the navbar to the left */
  height: 100%;
  /* Set the height of the navbar to 100% */
  width: 100px;
  /* Set the width of the navbar to 100% */
  background-color: #333;
  /* Set the background color of the navigation bar to dark grey */
}

/* Set the unordered list inside the navbar to have no list-style, padding, or margin */
.navbar ul {
  list-style: none;
  /* Remove the list-style */
  padding: 0;
  /* Remove the padding */
  margin: 0;
  /* Remove the margin */
}

/* Set the list items in the navbar to have a margin of 10px on top and bottom and to be centered horizontally */
.navbar li {
  margin: 10px 0;
  /* Add a margin of 10px on top and bottom */
  text-align: center;
  /* Center the list items horizontally */
}

/* Set the anchor tags inside the list items to have white text, no underline, and a font size of 18px */
.navbar a {
  display: block;
  /* Add a block element to the list items */
  color: #fff;
  /* Set the color of the list items to white */
  text-decoration: none;
  /* Remove the underline */
  font-size: 18px;
  /* Set the font size of the list items to 18px */
}

/* Set the icons inside the list items to have a font size of 26px and a margin of 5px on the bottom */
.navbar i {
  font-size: 26px;
  /* Set the font size of the list items to 26px */
  margin-bottom: 5px;
  /* Add a margin of 5px on the bottom */
}