.wrapper {
    height: 220px;
    width: 220px;
    border-radius: 50%;
    overflow: hidden;
    border: 6px solid gray;
}

.wrapper img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    filter: grayscale(100%);
    transition: 0.5s ease;
    cursor: pointer;
}

.wrapper img:hover {
    transform: scale(1.3);
    filter: grayscale(0%);
}