/* Set the background color for the entire page */
body {
    background-color: #f2f2f2;      /* Set background color */
    display: flex;              /* Set display property to flex */
    flex-direction: column;     /* Set direction of flex container */
    justify-content: center;        /* Center content vertically */
    align-items: center;          /* Center content horizontally */
    height: 100vh;              /* Set height to 100% of viewport height */
    margin: 0;                  /* Remove default margin */
}

/* Set the size of the image */
.preview {
    display: inline-block;      /* Set display property to inline-block */
    border: 1px solid black;    /* Set border to 1px solid black */
    width: fit-content;         /* Set width to fit content */
    margin: 10px;               /* Set margin to 10px */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);     /* Add box shadow effect */
}

/* Set the size of the input element */
input[type="file"] {
    font-size: 16px;          /* Set font size to 16px */
    padding: 10px;              /* Set padding to 10px */
    margin-top: 20px;           /* Set margin to 20px */
}

/* Style the image when the file input is selected */
input[type="file"]:focus + #img {
    opacity: 0.5;           /* Increase the opacity of the image to 0.5 */
}

/* Set the size of the image to be responsive to the width of its container */
#img {
    max-width: 100%;            /* Set the maximum width of the image to be 100% of its container */
    height: auto;               /* Set the height of the image to automatically adjust in proportion to the width */  
    transition: opacity 0.5s ease;      /* Add a transition effect to the opacity of the image over 0.5 seconds */
    margin-top: 50px;           /* Add a top margin to the image to separate it from the file input */
}
