/* This is the navigation bar that appears at the top of the page */
.navigation {
    background: #f4f4f4;          /* The background color is a light gray */
    /* border-radius: 10px;            Sets the border radius of the navbar to 10px */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);       /* Adds a shadow to the navbar */
    display: flex;                /* Sets the display of the navbar to flex */
    height: 70px;                 /* Sets the height of the navbar to 70px */
    justify-content: center;        /* Sets the justify-content of the navbar to center */
    position: fixed;                /* Sets the position of the navbar to fixed */
    top: 0;                        /* Sets the top of the navbar to 0 */
    left: 0;                      /* Sets the left of the navbar to 0 */
    width: 100%;                  /* Sets the width of the navbar to 100% */
}

/* This is the navigation bar's ul */
.navigation ul {
    display: flex;                /* Sets the display of the ul to flex */
    justify-content: space-between;     /* Sets the justify-content of the ul to space-between */
    width: 100%;                  /* Sets the width of the ul to 100% */
    margin: 0;                    /* Sets the margin of the ul to 0 */
    padding: 0;                   /* Sets the padding of the ul to 0 */
    list-style: none;             /* Sets the list-style of the ul to none */
}

/* This is the navigation bar's li */
.navigation ul li {
    position: relative;            /* Sets the position of the li to relative */
    z-index: 1;                  /* Sets the z-index of the li to 1 */
}

/* This is the navigation bar's li's a */
.navigation ul li a {
    align-items: center;          /* Sets the align-items of the a to center */
    color: #555;                  /* Sets the color of the a to #555 */
    display: flex;                /* Sets the display of the a to flex */
    flex-direction: column;       /* Sets the flex-direction of the a to column */
    font-weight: 500;             /* Sets the font-weight of the a to 500 */
    justify-content: center;      /* Sets the justify-content of the a to center */
    position: relative;            /* Sets the position of the a to relative */
    text-align: center;           /* Sets the text-align of the a to center */
    text-decoration: none;        /* Sets the text-decoration of the a to none */
    transition: color 0.2s ease-in-out; /* Sets the transition of the a to color 0.2s ease-in-out */
    width: 100%;                  /* Sets the width of the a to 100% */
    height: 100%;                 /* Sets the height of the a to 100% */
}

/* This is the navigation bar's li's a:hover */
.navigation ul li a:hover {
    color: #000;                  /* Sets the color of the a to #000 */
}

/* This is the navigation bar's li's a's .icon */
.navigation ul li a .icon {
    color: #555;                  /* Sets the color of the .icon to #555 */
    display: block;                /* Sets the display of the .icon to block */
    font-size: 1.5em;              /* Sets the font-size of the .icon to 1.5em */
    line-height: 1;               /* Sets the line-height of the .icon to 1 */
    margin-bottom: 5px;           /* Sets the margin-bottom of the .icon to 5px */
    position: relative;            /* Sets the position of the .icon to relative */
    text-align: center;           /* Sets the text-align of the .icon to center */
    transition: color 0.2s ease-in-out; /* Sets the transition of the .icon to color 0.2s ease-in-out */
}

/* This is the navigation bar's li's a:hover .icon */
.navigation ul li a:hover .icon {
    color: #000;                  /* Sets the color of the .icon to #000 */
}